body{
  background-color: black;
  font-family: 'Aladin', cursive;
  color: #0096FF;
/*  background-image: ;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url('halloween-23439_1280.png'), linear-gradient(to bottom right, black, orange);
}

button{
btn-padding-y: 200px;
btn-padding-x: 200px;
}

